<phpunit>

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="ImageTest.php">./tests/Entities</directory>
            <directory suffix="ImageLangTest.php">./tests/Entities</directory>
            <directory suffix="ImageFormRequestTest.php">./tests/Forms</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="ImageRepositoryTest.php">./tests/Repositories</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>

</phpunit>
